<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class ="NYS">New York State Equestrian Therapy Centers</h1>
          <h4><a href="/api"> API Documentation</a></h4>
        </div>
      </div>
      
      <div id = "eqCenterList"></div>
    
      <form class ="bodyContainer">
          <div class = "cell cell-1">Name:</div>
          <div class = "cell cell-2">
            <input id ="name" type ="text">
          </div>
          <div class = "cell cell-3">Address</div>
          <div class = "cell cell-4">
              <input id ="address" type ="text">
          </div>
          <div class = "cell cell-5">Phone Number</div>
          <div class = "cell cell-6">
              <input id ="phoneNumber" type ="text">
          </div>
          <div class = "cell cell-7">Email</div>
          <div class = "cell cell-8">
              <input id ="email" type ="text">
          </div>
          <div class = "cell cell-9">Website</div>
          <div class = "cell cell-10">
              <input id ="website" type ="text">
          </div>
          <div class = "cell cell-11">Disabilites Served</div>
          <div class = "cell cell-12">
              <input id ="disServed" type ="text">
          </div>
          <div class = "cell cell-13">
            <input id ="addbtn" type ="button" value = "Add">
          </div>
          <div class = "cell cell-14">
              <input id ="deletebtn" type ="button" value = "Delete">
            </div>
          
          </form>
    </div>
  </body>
</html>
