.bodyContainer{
  height: 90vh;
  margin: 2vw;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7,6vh);
}
.bodyContainer div {
  padding: .2em;
}
.cell{
  font-size: 2em;
  text-align: center;
}

#eqCenterList{
  background: lightblue;
}
input{
  border: 1px solid black;
}

@media only screen and (max-width:320px){
  .cell, .NYS,a{
    font-size: 12px;
  }
}